interactions:
- request:
    body: amount=14500&currency=eur&description=Just+your+average+description+for+a+charge+%28cheeky+version%29&source=tok_1J8C9w2eZvKYlo2CMhHS7Ug9
    headers:
      Authorization:
      - Bearer sk_test_4eC39HqLyjWDarjtT1zdp7dc
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5e895a6b-b1e1-40b6-8061-06294498652c
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"token_already_used\",\n    \"doc_url\":
        \"https://stripe.com/docs/error-codes/token-already-used\",\n    \"message\":
        \"You cannot use a Stripe token more than once: tok_1J8C9w2eZvKYlo2CMhHS7Ug9.\",\n
        \   \"type\": \"invalid_request_error\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 5e895a6b-b1e1-40b6-8061-06294498652c
      original-request:
      - req_66yL6CXfxKj2wj
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-02-19'
    status:
      code: 400
      message: Bad Request
version: 1
