interactions:
- request:
    body: card[number]=4242424242424241&card[exp_month]=10&card[exp_year]=2021
    headers:
      Authorization:
      - Bearer sk_test_4eC39HqLyjWDarjtT1zdp7dc
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 393ec15f-ce37-4208-a15c-9f286d4109a5
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"incorrect_number\",\n    \"doc_url\":
        \"https://stripe.com/docs/error-codes/incorrect-number\",\n    \"message\":
        \"Your card number is incorrect.\",\n    \"param\": \"number\",\n    \"type\":
        \"card_error\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 393ec15f-ce37-4208-a15c-9f286d4109a5
      original-request:
      - req_boKNpt0pRDjD48
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-02-19'
    status:
      code: 402
      message: Payment Required
version: 1
