interactions:
- request:
    body: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2022&card[cvc]=343
    headers:
      Authorization:
      - Bearer sk_test_4eC39HqLyjWDarjtT1zdp7dc
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ae893513-d18f-4ed1-b0b7-a949312ea5a8
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body:
      string: "{\n  \"id\": \"tok_1J8B2W2eZvKYlo2C1UNsoBxb\",\n  \"object\": \"token\",\n
        \ \"card\": {\n    \"id\": \"card_1J8B2W2eZvKYlo2Cc5piq6rX\",\n    \"object\":
        \"card\",\n    \"address_city\": null,\n    \"address_country\": null,\n    \"address_line1\":
        null,\n    \"address_line1_check\": null,\n    \"address_line2\": null,\n
        \   \"address_state\": null,\n    \"address_zip\": null,\n    \"address_zip_check\":
        null,\n    \"brand\": \"Visa\",\n    \"country\": \"US\",\n    \"cvc_check\":
        \"unchecked\",\n    \"dynamic_last4\": null,\n    \"exp_month\": 10,\n    \"exp_year\":
        2022,\n    \"fingerprint\": \"Xt5EWLLDS7FJjR1c\",\n    \"funding\": \"credit\",\n
        \   \"last4\": \"4242\",\n    \"metadata\": {\n    },\n    \"name\": null,\n
        \   \"tokenization_method\": null\n  },\n  \"client_ip\": \"88.144.3.126\",\n
        \ \"created\": 1625088828,\n  \"livemode\": false,\n  \"type\": \"card\",\n
        \ \"used\": false\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - ae893513-d18f-4ed1-b0b7-a949312ea5a8
      original-request:
      - req_iZoHJVzd4PNwol
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-02-19'
    status:
      code: 200
      message: OK
version: 1
